@page
@model Centras.Pages.BanquetModel
@{
    ViewData["Title"] = "Banquets";
}
<link rel="stylesheet" href="~/css/Banquet.css" />

<div class="banquet-container">
    <div class="main-image-banner">
        <img src="~/Images/Banquet/BanquetTable.jfif" alt="Banketų stalas" />
    </div>

    <h1>Banketų Patiekalai</h1>
    <p>Rinktiniai patiekalai jūsų ypatingai šventei.</p>

    <div class="food-gallery">
        <div class="food-card">
            <div class="img-card">
                <img src="~/Images/Service/Food1.jfif" alt="Užkandžiai" />
            </div>
            <h2>Užkandžiai</h2>
            <p>Lengvi ir gardūs užkandžiai.</p>
        </div>
        <div class="food-card">
            <div class="img-card">
                <img src="~/Images/Banquet/MainCourse.jfif" alt="Pagrindinis patiekalas" />
            </div>
           
            <h2>Pagrindiniai patiekalai</h2>
            <p>Sodraus skonio patiekalai svarbiausiai šventės daliai.</p>
        </div>
        <div class="food-card">
            <div class="img-card">
                 <img src="~/Images/Banquet/Desert3.jfif" alt="Desertai" />
            </div>
           
            <h2>Desertai</h2>
            <p>Saldi pabaiga – skanūs desertai visiems.</p>
        </div>
    </div>


</div>
