@page
@model Centras.Pages.ConfirmReservationModel
@{
    <form class="confirmReservation" id="reservationForm" method="post" asp-page="/ConfirmReservation">

        <div class="form-row d-flex gap-3">
            <div class="form-group col-md-6">
                <label for="inputName">Vardas <span class="text-danger">*</span></label>
                <input type="name" class="form-control" id="inputName" placeholder="Vardas" required>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="inputLastname">Pavardė<span class="text-danger">*</span></label>
                <input type="lastname" class="form-control" id="inputLastname" placeholder="Pavardė" required>
            </div>
        </div>
        <div class="form-row d-flex gap-3">
            <div class="form-group col-md-6 mb-3">
                <label for="inputEmail4">E-Paštas<span class="text-danger">*</span></label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="E-Paštas" required>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="inputPhone">Tel. Nr.<span class="text-danger">*</span></label>
                <input type="phone" class="form-control" id="inputPhone" placeholder="Telefonas" required>
            </div>
        </div>
       
        <div class="form-group mb-3">
            <label for="inputAddress">Adresas<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Kauno g. 8" required>
        </div>
        <div class="form-row d-flex gap-3">
            <div class="form-group col-md-6">
                <label for="inputCity">Miestas</label>
                <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="form-group col-md-2 mb-3">
                <label for="inputZip">Pašto kodas</label>
                <input type="text" class="form-control" id="inputZip">
            </div>
        </div>
        <div class="form-group col-md-4 mb-3">
            <label for="inputState">Šalis</label>
            <select id="inputState" class="form-control">
                <option selected>Choose...</option>
            </select>
        </div>
        <button type="submit" id="confirmReservation" class="btn btn-primary">Užsisakyti</button>
    </form>
}
<script src="~/js/confirmReservation.js" asp-append-version="true"></script>