@page
@using Centras.Resources
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">

    <div class="slide-container" style="margin-top:5vh;">

        <div class="slides">
            <img src="Images\Skveras1.jfif" class="outside-centras" />
        </div>

        <div class="slides">
            <img src="Images\outside.jfif" class="outside-centras" />
            
        </div>
        <div class="slides">
            <img src="Images\Restaurant1.jfif" class="hotel"/>
            
        </div>

        <div class="slides">
            <img src="Images/Room 6/Room6_1.jfif" class="hotel"/>
           
        </div>
        <div class="slides">
            <img src="Images/Tea2.jfif" class="hotel" />
        </div>
    </div>
    <p class="about">@Res.About</p>
    
</div>

<div class="dot-div" style="text-align:center;">
    <span class="dot" onclick="currentSlide(0)"></span>
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
</div>
<script>
    let currentImageIndex = 0;
    let autoSlideInterval;
    const slides = document.getElementsByClassName("slides");
    const dots = document.getElementsByClassName("dot");

    // Show specific slide
    function showImageSlide(index) {
        // Hide all slides
        for (let i = 0; i < slides.length; i++) {
            slides[i].classList.remove("active");
            dots[i].classList.remove("active");
        }

        // Show selected slide
        slides[index].classList.add("active");
        dots[index].classList.add("active");
        currentImageIndex = index;
    }

    // Auto-rotate images
    function startAutoSlide() {
        autoSlideInterval = setInterval(() => {
            const nextIndex = (currentImageIndex + 1) % slides.length;
            showImageSlide(nextIndex);
        }, 5000);
    }

    // Dot click handler
    function currentSlide(index) {
        clearInterval(autoSlideInterval);
        showImageSlide(index);
        startAutoSlide();
    }

    // Initialize slider
    window.onload = function () {
        showImageSlide(0);
        startAutoSlide();

        // Add event listeners to dots
        for (let i = 0; i < dots.length; i++) {
            dots[i].addEventListener("click", function () {
                currentSlide(i);
            });
        }
    };
</script>
