@page
@model Centras.Pages.RestaurantModel
@{
    ViewData["Title"] = "Restaurant";
}
<h1 style="text-align:center;">Turinys:</h1>
<div class="menu-content">
    <ul>
        <li><a href="#main-menu">Bendras Meniu</a></li>
        <li><a href="#pizza-menu">Picų Meniu</a></li>
        <li><a href="#sushi-menu">Sušių Meniu</a></li>
        <li><a href="#drinks-menu">Gėrimų Meniu</a></li>
    </ul>
</div>
<hr />
<h1 id="main-menu" style="text-align:center;">Mūsų Meniu</h1>
<hr />
<img src="/Images/Meniu/MENIU_00001.jpg" alt="Menu 1" class="menu-img">
<img src="/Images/Meniu/MENIU_00002.jpg" alt="Menu 2" class="menu-img">
<img src="/Images/Meniu/MENIU_00003.jpg" alt="Menu 3" class="menu-img">
<img src="/Images/Meniu/MENIU_00004.jpg" alt="Menu 4" class="menu-img">
<img src="/Images/Meniu/MENIU_00005.jpg" alt="Menu 5" class="menu-img">
<img src="/Images/Meniu/MENIU_00006.jpg" alt="Menu 6" class="menu-img">
<img src="/Images/Meniu/MENIU_00007.jpg" alt="Menu 7" class="menu-img">
<img src="/Images/Meniu/MENIU_00008.jpg" alt="Menu 8" class="menu-img">
<hr />

<h1 id="pizza-menu"style="text-align:center;">Picų Meniu</h1>
<hr />
<img src="/Images/Meniu/PICU_00001.jpg" alt="Pizza 1" class="menu-img">
<img src="/Images/Meniu/PICU_00002.jpg" alt="Pizza 2" class="menu-img">

<hr />
<h1 id="sushi-menu" style="text-align:center;">Sušių Meniu</h1>
<hr />
<img src="/Images/Meniu/SUSIU_00001.jpg" alt="Sushi 1" class="menu-img">
<img src="/Images/Meniu/SUSIU_00002.jpg" alt="Sushi 2" class="menu-img">

<hr />
<h1 id="drinks-menu" style="text-align:center;">Gėrimų Meniu</h1>
<hr />
<img src="/Images/Meniu/GERIMU_00001.jpg" alt="Drink 1" class="menu-img">
<img src="/Images/Meniu/GERIMU_00002.jpg" alt="Drink 2" class="menu-img">
<img src="/Images/Meniu/GERIMU_00003.jpg" alt="Drink 3" class="menu-img">
<img src="/Images/Meniu/GERIMU_00004.jpg" alt="Drink 4" class="menu-img">
