@* @page
@model Centras.Pages.ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
}

<h2>Reset Password</h2>
<form method="post">
    <input type="hidden" asp-for="Email" />
    <input type="hidden" asp-for="Token" />

    <div class="form-group">
        <label>New Password</label>
        <input type="password" class="form-control" asp-for="NewPassword" required />
    </div>

    <button type="submit" class="btn btn-primary">Reset Password</button>
    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <div class="alert alert-danger mt-3">@Model.Message</div>
    }
</form> *@