@page
@using Centras.Resources
@using Microsoft.AspNetCore.Mvc.Localization
@model Centras.Pages.ReservationSuccessModel
@{
    <h2>@Res.ReservationConfirm</h2>
    <p>@Res.ReservationConfirmThanks</p>
}