@page
@model Centras.Pages.RoomsModel
@{
    ViewData["Title"] = "Rooms";
}
<div class="image-gallery">
    <div class="main-image">
        <img src="Images/Room 6/Room6_1.jfif" alt="Room 6">
        <button class="btn-show-all-photos">Daugiau</button>
    </div>
    <div class="side-images">
        <img src="Images/Room 9/Room9_2.jfif" alt="Room 2">
        <img src="Images/Room 7/Room7_1.jfif" alt="Room 3">
    </div>
    
</div>

<div class="reservation-form">
    <div class="reservation-form-row">
        <div class="reservation-row d-flex">
            <div class="reservation-col">
                <label>Atvykimas</label>
                <input type="date" id="check-in" name="check-in" class="form-control" />
            </div>
            <div class="reservation-col">
                <label>Išvykimas</label>
                <input type="date" id="check-out" name="check-out" class="form-control" />
            </div>
        </div>

    </div>
    <div class="reservation-form-row" id="people_info_card">
        <div class="reservation-row d-flex">
            <div class="people-row" style="flex:2;">
                <div class="people-col">
                    <label>Suaugusių Sk.</label>
                    <select id="AdultNum" class="form-control">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
                <div class="people-col">
                    <label>Vaikų Sk.</label>
                    <select id="AdultNum" class="form-control">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

</div>

<button type="submit" class="btn btn-block" style="width:15%; height:10%; right:15px;">Rasti Kambarį</button>


<h1 style="margin-top:10px;">Kambarių tipai</h1>

@foreach (var room in Model.RoomImages)
{
    <div class="room-card">
        <img src="~/@room.Value[0]" alt="@room.Key" class="room-thumbnail"
             data-images="@string.Join(',', room.Value)">
        <div class="room-info">
            <h3>@room.Key</h3>
            <ul>
                <li>Nemokamas bevielis internetas (Wi-Fi)</li>
                <li>Pusryčiai</li>
                <li>Nemokama automobilių stovėjimo aikštelė</li>
                <li>Oro Kondicionierius</li>
            </ul>
        </div>
        <div class="room-actions">
            <div class="room-actions">
                <p class="price">€70</p>
                <form method="post" asp-page-handler="BookRoom">
                    <input type="hidden" name="RoomId" value="@room.Key" />
                    <input type="hidden" id="CheckInDate" name="CheckInDate" />
                    <input type="hidden" id="CheckOutDate" name="CheckOutDate" />
                    <input type="hidden" id="AdultsNum" name="AdultsNum" />
                    <input type="hidden" id="KidsNum" name="KidsNum" />
                    <button type="submit" class="btn btn-primary">Užsisakyti</button>
                </form>
            </div>
        </div>
    </div>
}

<div class="modal fade" id="roomGalleryModal" tabindex="-1" aria-labelledby="roomGalleryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="roomGalleryModalLabel">Kambario nuotraukos</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="roomGallery" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        
                    </div>
                    <a class="carousel-control-prev" href="#roomGallery" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </a>
                    <a class="carousel-control-next" href="#roomGallery" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/room.js" asp-append-version="true"></script>
