@page
@model Centras.Pages.RoomsModel
@{
    ViewData["Title"] = "Rooms";
}

<div class="image-gallery">
    <div class="main-image">
        <img src="Images/Room 6/Room6_1.jfif" alt="Room 6"/>
        <button data-images="@string.Join(",", Model.AllRoomImages.Select(i => i.ImagePath))" class="btn-show-all-photos room-button"
                onclick="showGallery(this.getAttribute('data-images').split(','))">
                 Daugiau
        </button>
    </div>
    <div class="side-images">
        <img src="Images/Room 9/Room9_2.jfif" alt="Room 2">
        <img src="Images/Room 7/Room7_1.jfif" alt="Room 3">
    </div>

</div>
<form method="post">
    <button type="submit" asp-page-handler="Delete" class="btn btn-danger">Delete All Reservations</button>
    <div class="reservation-form">
        <div class="reservation-form-row">
            <div class="reservation-row d-flex">
                <div class="reservation-col">
                    <label>Atvykimas</label>
                    <input type="date" id="check-in" name="CheckInDate" class="form-control" />
                </div>
                <div class="reservation-col">
                    <label>Išvykimas</label>
                    <input type="date" id="check-out" name="CheckOutDate" class="form-control" />
                </div>
                <div class="people-col">
                    <label>Suaugusių Sk.</label>
                    <select name="AdultNum" id="AdultNum" class="form-control">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
                <div class="people-col">
                    <label>Vaikų Sk.</label>
                    <select name="KidsNum" id="KidsNum" class="form-control">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
            </div>
        </div>
    </div>


    <button type="button" class="btn btn-block" style="width:15%; height:10%; right:15px;" id="findRoom">Rasti Kambarį</button>
</form>



<div id="roomsContainer">

    <!-- Available rooms will be inserted here -->
</div>
<p id="noRoomsMessage" style="display: none;">No available rooms found.</p>

<div class="modal fade" id="roomGalleryModal" tabindex="-1" aria-labelledby="roomGalleryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="roomGalleryModalLabel">Kambariu nuotraukos</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="roomGallery" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <!-- Carousel items will be dynamically inserted here -->
                    </div>
                    <a class="carousel-control-prev" href="#roomGallery" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </a>
                    <a class="carousel-control-next" href="#roomGallery" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/room.js" asp-append-version="true"></script>