@page
@model ServiceModel
@{
    
}

<h1>@ViewData["Title"]</h1>

<h2>Galerija</h2>
<hr />
<div class="service-container" style="width:100%;">
    <ul class="services-list">
    <li>
        <img src="Images/Service/Table3.jfif" alt="Banketai">
        <strong>Banketai:</strong> Pristatome skanius ir šviežius patiekalus tiesiai į jūsų namus.
    </li>
</ul>
</div>


<p>Mes esame pasiruošę padaryti jūsų šventę ypatingą! Susisiekite su mumis dėl individualių užsakymų ir nuolaidų.</p>