@page
@model ServiceModel
@{
    
}

<h1>@ViewData["Title"]</h1>

<h2>Galerija</h2>
<hr />
<div class="service-container" style="width:100%;">
    <ul class="services-list">
    <li>
        <img src="/Images/Bar1.jfif" alt="Restoranas">
        <strong>Restoranas:</strong> Mūsų restoranas, įsikūręs pirmame viešbučio aukšte, siūlo įvairių progų maitinimą: gimtadieniams, vestuvėms, šeimos šventėms ir kt.
    </li>
    <li>
        <img src="Images/Service/Table3.jfif" alt="Banketai">
        <strong>Banketai:</strong> Pristatome skanius ir šviežius patiekalus tiesiai į jūsų namus.
    </li>
    <li>
        <img src="Images/Tea1.jfif" alt="Parduotuvė">
        <strong>Parduotuvė "Skonio ir kvapo namai":</strong> Platus kavos, arbatos, prieskonių ir rankų darbo saldainių pasirinkimas.
    </li>
    <li>
        <img src="Images/Service/coupons.jfif" alt="Dovanų kuponai">
        <strong>Dovanų kuponai:</strong> Padovanokite skanią patirtį! Kuponus galite užsisakyti čia: <a href="mailto:hotelcentras@gmail.com">hotelcentras@gmail.com</a>
    </li>
</ul>
</div>


<p>Mes esame pasiruošę padaryti jūsų šventę ypatingą! Susisiekite su mumis dėl individualių užsakymų ir nuolaidų.</p>