@page
@using Centras.Models
@using Centras.db

@model Centras.Pages.TestUserModel
@{
    <form method="post">
        Name:
        <input asp-for="User.Name" />
        <input asp-for="User.Email" />
        <input type="submit" />
    </form>
}
